.follow-us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
  }
  
  .follow-us-content {
    flex: 1;
    margin-right: 20px;
  }
  
  .follow-us-content h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .follow-us-icons a{
    color: #ff5757;
  }
  
  .follow-us-icons {
    display: flex;
    list-style: none;
    padding: 0;
    color: #ff5757;
  }
  
  .follow-us-icons li {
    margin-right: 10px;
  }
  
  .subscribe-form {
    flex: 1;
  }
  
  .subscribe-form h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subscribe-form form {
    display: flex;
    align-items: center;
  }
  
  .subscribe-form input[type="email"] {
    width: 250px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #ff5757;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  